<h1>Добавить контент</h1>

<div class="add">
    <div class="row">

        <div class="col s12">
    <ul class="tabs">
        <li class="tab col s6"><a href="#post">Пост</a></li>
        <li class="tab col s6"><a class="active" href="#strat">Стратегия</a></li>
     </ul>
     </div>
    <br>

<div id="post" class="col s8 offset-s2">
            {{!-- {{#if loginError}}
            <p class="alert">{{loginError}}</p>
            {{/if}} --}}
            <h1>Написать пост</h1>
        
    <form action="/add/post" method="POST">
        <div class="input-field">
            <input id="title_post" name ="title_post" type="text" class="validate" required>
            <label for="title_post">Название поста</label>
            <span class="helper-text" data-error="need to set the name" minlength="2"></span>
        </div>

        <div class="input-field">
            <input id="descr_post" name ="descr_post" type="text" class="validate" required>
            <label for="descr_post">Краткое описание поста</label>
            <span class="helper-text" data-error="Нужно ввести описаие" minlength="2"></span>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="text_post" class="materialize-textarea" name ="text_post" class="validate" type="text" required></textarea>
                <label for="text_post">Текст</label>
            </div>
        
            <div class="input-field col s4">
                <input id="img_post" name ="img_post" type="text" class="validate" required >
                <label for="img_post">Добавить изображение</label>
                <span class="helper-text" data-error="need to input image url"></span>
            </div>
            
        </div>
            
            {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<div id="strat" class="col s8 offset-s2">
            {{!-- {{#if loginError}}
            <p class="alert">{{loginError}}</p>
            {{/if}} --}}
            <h1>Написать стратегию</h1>
    <form action="/add/strat" method="POST" novalidate>
        <div class="input-field">
            <input id="title_strat" name ="title_strat" type="text" class="validate" required>
            <label for="title_strat">Название стратегии</label>
            <span class="helper-text" data-error="Надо ввести название стратегии" minlength="2"></span>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="text_strat" class="materialize-textarea" name ="text_strat" class="validate" type="text" required></textarea>
                <label for="text_strat">Текст</label>
                <span class="helper-text" data-error="Надо ввести описание стратегии" minlength="2"></span>
            </div>

         <div class="input-field col s6">
            <input id="price_strat" name ="price_strat" type="text" class="validate" required >
            <label for="price_strat">Добавить цену</label>
            <span class="helper-text" data-error="Надо добавить цену"></span>
         </div>

            <div class="input-field col s4">
                <input id="img_strat" name ="img_strat" type="text" class="validate" required >
                <label for="img_strat">Загрузить изображение</label>
                <span class="helper-text" data-error="Надо загрузить изображение"></span>
            </div>
        </div>
        <div class="row">
             <div class="input-field col s4">
                <input id="risk" name ="risk" type="text" class="validate" required >
                <label for="risk">Риск</label>
                <span class="helper-text" data-error="Надо указать риск"></span>
            </div>
             <div class="input-field col s4">
                <input id="profit" name ="profit" type="text" class="validate" required >
                <label for="profit">Профит</label>
                <span class="helper-text" data-error="Надо указать профит"></span>
            </div>

        
            <div class="check">

                <div class="check_into">
                    <p>
                    <label>
                        <input type="checkbox" id="check_risk" name="type_of_risk" value="true"/>
                        <span>Высокорисковая</span>
                    </label>
                    </p>
                </div>

                <div class="check_into">
                    <p>
                    <label>
                        <input type="checkbox" id="check_kons" name="type_of_risk" value="false"/>
                        <span>Консервативная</span>
                    </label>
                    </p>
                </div>
                
            </div>
       
        </div>
       
            {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button  {{#if addDisable}}disabled{{/if}} type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
    </div>
</div>