<div class="strat">

    <h1>{{strat.title_strat}}</h1>

    <div class="watch">
        <img src="{{strat.img_strat}}" alt="{{strat.title_strat}}">
    </div>
    
    <div class="text">
        <p>{{ strat.text_strat }}</p>
    </div>
    
    <div class="price_strat">
        <p class="price big">{{strat.price_strat}}</p>
    </div>
    
</div>

